@import './variables.scss';

body {
    background-color: #F1F1F1;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #b0699a;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #a22f83e6;
}

.grid {
    margin-top: 24px;
    display: grid;
    gap: 16px
}